// IMPORTANT
.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}

.subnav {
	position: sticky;
	bottom: 0;
	top: 60px; // prevent covering main nav
}

// DEMO LAYOUT CODE
.nav {
	background: #42A5F5;
	&__title {
		margin: 0px 30px;
	}
	&__item {
		display: inline-block;
		margin: 0px 30px;
	}
}

.hero {
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #BBDEFB;
	
	h1 {
		font-size: 6em;
		margin: 0 90px;
		text-align: center;
	}
}

.subnav {
	background: #fff;
	border-bottom: 1px solid #222;
	&__container {
		align-items: baseline;
		display: flex;
		margin: 0 60px;
		padding: 15px 0;
	}
	&__title {
		font-size: 1.25em;
	}
	&__list {
		margin: 0 15px;
	}
	&__item {
		display: inline-block;
		margin: 0 8px;
		padding: 5px;
	}
}

.section {
	max-width: 900px;
	margin: 60px auto;
	padding: 90px 30px;
	background-color: #FFCDD2;
	text-align: center;
	
	h2 {
		font-size: 3em;
		margin-bottom: 15px;
	}
	p {
		line-height: 1.625em;
		margin: 0 auto;
		max-width: 480px;
	}
}

footer {
	text-align: center;
}