body {
	margin:auto;
	padding:0px;
}
.layout {
	width: 100%;
	display: grid;
	grid:
		"header" auto
		"main" 1fr
		"footer" auto
		/ auto;
	gap: 0 8px;
}
.header { 
	grid-area: header; 
	position: sticky;
	height:110px;
}
.main { 
	grid-area: main; 
}
.footer { 
	grid-area: footer; 
}
.wrap {
    position: relative;
}

@media only screen and (max-width: 500px){
    .L {
        width: auto;
        float: none;
    }
    
    .R {
        float: none;
        width: auto;
        position: static;
    }
}
.wrap:before,
.wrap:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
div.menu-Sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:10;
}
.menuR1 {
	padding: 0px 15px;

}
.menuR2 {
	position:relative;
	top:0px;
	padding: 0px 15px;
	
}
div.R-Sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-bottom:20px;
}
.mainContent {
	position:relative;
	z-index:9;
	overflow-y: auto;
	height: 350px;
}
* {
	box-sizing: border-box;
}
.column {
	float: left;
}
.L {
	width: calc(100% - 500px);
}
.R {
	float:right;
	width: 475px;
	margin-right:10px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
/* Clear floats after the columns */
.mainRow:after {
	content: "";
	display: table;
	clear: both;
}
