.v-btn {
    text-transform: unset !important;
}

.bg-blue {
    background-color: #38598A;
}
.bg-light {
    background-color: #fff!important;
}
.formio-container {
    max-width: 100%!important;
    overflow-y:hidden;
}

.container {
    padding: 24px 50px!important;
    width:100%!important;
    max-width:100%!important;
}


/* HEADER SECTION todo: put in own file */

.headerText a {
    color:#fff!important;
}
.headerText a:visited {
    color:#fff!important;
}


/* CLIENT SEARCH todo: put in own file */


.client-search .sectionTitleClass {
    padding: 40px 20px 5px 20px!important;
}

.client-search .subSectionTitleClass {
    text-decoration: none;
}

.formio-component-limitedToCurrentActiveLocation {
    margin: -60px 24px 0 28px;
}

input[name="data[limitedToCurrentActiveLocation]"], input[name="data[addressInfo][includeExpiredAddresses]"] {
    transform: scale(2);
}

input[name="data[limitedToCurrentActiveLocation]"] + span, input[name="data[addressInfo][includeExpiredAddresses]"] + span {
    margin-left:10px;
}

.client-search .fa-exclamation-circle {
    transform: scale(1.5);
}

.client-search .how-to-icon {
    margin-top: -110px;
    color: #013265;
}
.client-search .how-to-wildcard {
    margin-top: -120px;
    color: #013265;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.client-search-columns {
    column-gap: 100px;
}


div[ref="nested-generalInfo"]  {
    padding: 20px;
}

.formio-component-lastNameSoundex {
    display:inline-block;
    width:100%;
    text-align:right;
}

.formio-component-lastNameSoundex > .checkbox {
   top: -70px;
}

button[name="data[generalInfo]"]:disabled, button[name="data[generalInfo]"]:active, button[name="data[generalInfo]"]:focus {
    background-color: #38598A!important;
}

/* END CLIENT SEARCH */

.container .v-card__title {
    font-weight:bold;
    font-size: 35px;
}

.v-data-table-header {
    background-color: #38598A;
}

.v-data-table__wrapper {
    background-color: #fff!important;
}

.v-data-table__wrapper th {
    padding: 20px!important;
    color:#fff!important;
}

.v-data-table__wrapper a {
    color: #38598A!important;
}

img[alt="Client photo"] {
    padding: 20px;
    border: 1px solid #ccc;
}

label.col-form-label {
    padding-top: 25px;
    font-weight: bold!important;
}

.tippy-content {
    background-color: #38598A;
}


/*FORM IO CUSTOM CSS CLASSES - TODO: Put in different file*/
.formio-location-input-container{
    align-items: center;
}
.formio-clear-all-container {
    text-align: right!important;
}
.formio-search-btn-container {
    text-align: left;
}

.formio-checkbox-container {
    padding-top: 35px;
}
.formio-action-buttons-container {
    justify-content: space-between!important;
    padding: 20px 0px 50px 0px;
    border-top: 1px solid #BCBCBC!important;
}
.formio-action-buttons{
 }

.test-green {
    color: green;
}

.formio-form {
    min-height:auto!important;
}


/*CRNA FORM STYLES - TODO: Move to own file*/

.card-body .crna-sectionTitleClass {
    margin-left:-8px;
}

.crna-right-sticky-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.crna-right-panel-button-container {
    display:flex;
    align-items:center;
    width:100%;
    flex:42%;
    justify-self:center;
}
.crna-right-panel-button-container>div{
    width:100%
}

.crna-right-panel-details {
    flex:100%;

}

.crna-formio-h1 {
    margin-top: 80px;
}

.crna-formio-metadata-section {
    margin-top: 11px!important;
    margin-bottom: 23px!important;
    background-color: rgba(224, 224, 224, .5);
}


.divTable {
    z-index: 1;
    position: sticky!important;
    top: 0!important;
}
/* VUE Custom styles - todo: put in own file*/
.v-pagination {
    align-items: center;
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-end!important;
    margin: 0;
    max-width: 100%;
    width: 100%
}

.v-pagination__item {
    color: #fff!important;
}

.v-style-data-table {
    border: 1px solid #bcbcbc;
}

.list-group {
    margin-top: 0px!important;
}
.list-group-header {
    margin: 0;
    border: none;
    border-bottom: 1px solid #ccc;
}
.list-group-item {
    padding: 0px!important;
    box-shadow: none;
    border-radius:0px!important;
}
.list-group-item > .row {
    margin:0;
    padding:0;
}

p[ref="html"]:not(.crna-subSectionTitleClass):not(.subSectionChildTitleClass):not(.sectionTitleClass){
    padding:0!important;
    margin:0!important;
    min-height:0px!important;
}

.hide-input > div > input {
    display:none;
}

.editgrid-header {
    margin: 0 1px!important;
    text-align:center;
    background-color:#38598A;
    color: #fff;
    border: 1px solid #ccc;
}

/* SARA CMP styles - Todo split to own file */

.sara-cmp-form .divTableRowNav {
    white-space: nowrap;
}
.sara-cmp-form .menuR2 {
    overflow: scroll!important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.sara-cmp-form .menuR2::-webkit-scrollbar {
    display: none;
}
.sara-cmp-form .client-details {
    margin-top: 130px;
}

.sara-cmp-form .card {
    margin-bottom: 40px!important;
}
.sara-cmp-form .card-header {
    background-color:#38598A!important;
}

.sara-cmp-form .formio-component-key_sourceContacted_content {
    margin: 20px 0;
}

.sara-cmp-form .formio-component-key_buttonGroup {
    height:150px;
    align-items:center;
}
/* Dashboard Styles - TODO split to own file */

.dashboard-po th[role="columnheader"]{
    text-align: center;
}

.dashboard-po-table .formio-component-fieldset {
    padding: 20px 0;
}

.dashboard-po-table legend[ref="header"]  {
    justify-content: left;
}

.dashboard-po-table div.fieldset-body:before  {
    display:block;
    margin: 10px 0 30px 0;
    width: 50px;
    height: 5px;
    background-color:#FCC643;
    content:""
}

.dashboard-po-table div.fieldset-body  {
    margin-top: 10px!important;
}

.dashboard-po-table .community-alerts-ul {
    margin-top: -24px;
}

.dashboard-po-table .community-alerts-ul ul {
    padding:0
}

.dashboard-po-table .community-alerts-ul li {
    padding: 5px 0;
}

.dashboard-po-table .formio-component-editgrid .editgrid-listgroup .list-group-header {
    background-color: #2A0808!important;
    color: #fff;
    font-weight: bold;
}

.dashboard-po-table .formio-component-editgrid .editgrid-listgroup  .list-group-item:not(:first-of-type) {
    background-color: #E0E0E0!important;
}

.dashboard-supervisor  .table-footer th {
    color: #000!important;
}

.v-data-table__wrapper {
    border: 1px solid #ccc;
}
.v-data-table>.v-data-table__wrapper tbody tr.v-data-table__expanded__content {
    box-shadow: none !important;
    border-top: 1px solid #ccc!important;
    border-bottom: 1px solid #eee!important;
}

button.v-pagination__item {
    background-color:#38598A!important;
}
.designation-totals {
    position: absolute;
    bottom: 20px;
    background-color: #efefef;
    text-align: center!important;
}

.designation-totals th:first-of-type {
    text-align:left;
}
.designation-totals th[colspan="3"]{
    border-bottom: 1px solid #fff;
}
.designation-totals th {
    width: 100px;
}

.dashboard-v-card {
    padding: 20px;
}
.dashboard-v-card .v-data-table-header {
    background-color: #38598A;
}

.v-data-table__expand-icon--active, .v-data-table__expand-icon {
    margin-left: 10px!important;
}

.dashboard-v-card .v-data-table-header th[role="columnheader"] {

}
.dashboard-v-card .v-data-table-header th, i.mdi-arrow-up{
    color:#fff!important;
}

.dashboard-v-card .v-data-table__wrapper table td{
    padding:0!important;
}

/* Dashboard cells */
.dashboard-v-card .v-data-table__wrapper table td>div{

}

.dashboard-table-header-ul ul {
    list-style:  none;
}

.dashboard-table-header-ul ul>li {
    padding:0;
    margin:0;
}
.dashboard-table-header-ul ul>li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    position:relative;
    width: 1em;
    font-size:2em;
    top: 5px;
    margin-left: -.5em;
    margin-top: -.25em
}

.dashboard-table-header-ul ul>li:nth-child(1)::before {
    color: #FFB9B9;
}

.dashboard-table-header-ul ul>li:nth-child(2)::before {
    color: #FFE5BD;
}

.dashboard-table-header-ul ul>li:nth-child(3)::before {
    color: #C6E8C5;
}
.dashboard-background-color-red {
    background-color: #FFB9B9;
}
.dashboard-background-color-yellow {
    background-color: #FFE5BD ;
}
.dashboard-background-color-green {
    background-color: #C6E8C5;
}

.v-data-table__wrapper .pink--text {
    background-color:#eee;
}

/* CLIENT PROFILE STYLES -- TODO move to own file */
.profile-grid {
    margin-top: -35px;
    margin-left:-30px;

}
.profile-grid table {
    table-layout: fixed!important;
    border-collapse: separate;
    border-spacing: 30px!important;

}
.profile-grid table tr td, table {

}
.profile-grid table>tbody>tr {

}
.profile-grid table>tbody>tr>td {
    height:100%!important;
    background-color: white;
    box-shadow: 0 0.1rem .5rem rgba(0, 0, 0, 0.15) !important;

}

.profile-photo-section {
    padding-bottom:0px!important;
}

ul[role="tablist"] {
    margin-top:0px!important;
}

.bg-profile-table {
    background-color:white;
}


.bg-shallow-warning {
    height:50px;
    overflow: visible;
    font-size:18px;
    font-weight:bold;
    background-color: #F9F1C6;
    color: #6C4A00;
}

.bg-shallow-critical {
    height:50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #F2DEDE;
    color:#D3080C;
}

legend[ref="header"]{
    font-weight: bold;
}

.card-header {
    background-color: transparent!important;
}

.card-header li.nav-item {

}
.card-header li.nav-item >a {
    color:#ccc!important;
    border-radius: 0px;
}

.card-header li.nav-item >a:hover {
    color:#ccc!important;
    border-radius: 0px;
    border: 0px;
}

.card-header li.nav-item.active>a {
    color: black!important;
    border: 0px;
    border-bottom: 5px solid #38598A;;
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 0px!important;
        margin: 0px!important;
    }
}