@media print {
    body {
        background-color: transparent;
    }

    body * > {
        box-shadow: none;
        background-color: transparent;
    }
    .header {
        visibility: hidden;
    }

    .footer {
        position:relative;
        bottom: 0;
        background-color: transparent;
        color:transparent;
        border: none;
        z-index:0;
    }

    /* Hide footer content */
    .footer ul li a {
        display: none;
    }

    .footer ul {
        display: none;
    }

    /* Show logo at footer section */
    .footer:first-of-type:after {
        display:flex;
        align-items:center;
        justify-content: center;
        width:100%;
        border-top: 1px solid #ccc;
        content: url("/src/assets/images/justice.png");
    }

    svg {
        display:none!important;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent!important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
    }

    /* Remove the scroll bars */
    ::-webkit-scrollbar {
        display: none;
    }

    button {
        display:none!important;
    }

    .table-bordered {
        border: none!important;
    }
    .table-bordered th, .table-bordered td  {
        border: none!important;
    }
 
    .v-tabs {
        display:none!important;
    }

    /* Hide Right hand side panel */
    .rna-cmp-form .R{
        display: none;
    }
        
    .rna-cmp-form .L {
        width:100%;
        box-shadow: none;
    }

    /* Display form info section */
    .rna-cmp-form .crna-formio-metadata-section {
        background-color: transparent;
        width:100%;
    }

    /* Hide form status */
    .rna-cmp-form .formio-component-key_formStatus .custom_wrap {
        visibility: hidden;
    }

    /* Underline the form info section */
    .crna-formio-metadata-section:after {
        display: block;
        width: 100%;
        border-bottom: 1px solid #545454;
        content:""
    }

    /* Display client details */
    .rna-cmp-form .menuR1 .hide {
        display: block;
    }

    .printOnly_formInfo_clientDetails > h3:after {
        display: block;
        width: 80px;
        height: 0px;
        border-bottom: 5px solid #545454;
        content:""
    }

    /* Hide navigation */
    .rna-cmp-form .menuR2 {
        display:none;
    }

    .rna-cmp-form .menu-Sticky {
        background-color: transparent;
        position: relative;
        top:0;
        margin-top:0px;
    }

    .rna-formio-h1 {
        padding: 0;
    }
    
    /* Position the form title after the logo */
    .rna-formio-h1>h2 {
        display: inline-block;
        width: calc(100% - 50px);
        text-align: right;
        margin: 0;
        padding-left:350px;
        padding-bottom:5px;
        font-size: 25px;
    }

    /* Add logo before the form title text */
    .rna-formio-h1:before {
        display: inline-block;
        width: 15px;
        content: url("/src/assets/images/justice.png");
    }

    /* Underline the logo and form title text */
    .rna-formio-h1:after {
        display:block;
        width:100%;
        height:0px;
        border-bottom: 1px solid #545454;
        content:""
    }

    .rna-cmp-form .mainContent {
        border: none!important;
        padding: 0;
    }

    /* Hide 'Summary' text */
    .rna-cmp-form .mainContent .sectionTitleClass {
        display: none;
    }

    /* Align the Summary form type text */
    .rna-cmp-form .mainContent>div>div>h2 {
        margin-left: 20px;
    }

    /* Underline the Summary form type text */
    .rna-cmp-form .mainContent>div>div>h3:after {
        display: block;
        width: 80px;
        height: 0px;
        border-bottom: 5px solid #545454;
        content:""
    }

    /* Hide sections in print view */
    .excludedInPrint {
        display: none;
    }

    /* Change the section tile underline color */
    .includedInPrint .subSectionTitleClass:after{
        content: "";
        height: 0px;
        width: 50px;
        display: block;
        border-bottom: 3px solid #545454;
        margin-bottom: 25px;
    }

    /* Change the header color - not working */
    .includedInPrint .v-data-table-header {
        background-color: #545454!important;
    }

}