@media print {
    body {
        background-color: transparent;
    }

    body * > {
        box-shadow: none;
        background-color: transparent;
    }
    .header {
        visibility: hidden;
    }

    .footer {
        position:relative;
        bottom: 0;
        background-color: transparent;
        color:transparent;
        border: none;
        z-index:0;
    }

    /* Hide footer content */
    .footer ul li a {
        display: none;
    }

    .footer ul {
        display: none;
    }

    /* Show logo at footer section */
    .footer:first-of-type:after {
        display:flex;
        align-items:center;
        justify-content: center;
        width:100%;
        border-top: 1px solid #ccc;
        content: url("/src/assets/images/justice.png");
    }

    svg {
        display:none!important;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent!important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
    }

    /* Remove the scroll bars */
    ::-webkit-scrollbar {
        display: none;
    }

    button {
        display:none!important;
    }

    .table-bordered {
        border: none!important;
    }
    .table-bordered th, .table-bordered td  {
        border: none!important;
    }
 
    .v-tabs {
        display:none!important;
    }

    /* Hide Right hand side button group */
    .crna-cmp-form .R .crna-right-panel-button-container{
        display:none;
    }
    /* Hide Right hand side legend panel */
    .crna-cmp-form .R .formio-component-key_legend{
        display:none;
    }
    /* Hide Right hand side supervision level matrix panel */
    .crna-cmp-form .R .formio-component-key_supervisionLevelMatrix{
        display:none;
    }
    /* Hide Right hand side sources contacted panel */
    .crna-cmp-form .R .formio-component-panel_sourceContacted{
        display:none;
    }

    .crna-cmp-form .L {
        width:100%;
        box-shadow: none;
    }

    /* Display form info section */
    .crna-cmp-form .crna-formio-metadata-section {
        background-color: transparent;
        width:100%;
    }

    /* Hide form status */
    .crna-cmp-form .formio-component-key_formStatus .custom_wrap {
        visibility: hidden;
    }

    /* Add a line after the form info section */
    .crna-formio-metadata-section:after {
        display: block;
        width: 100%;
        border-bottom: 1px solid #ccc;
        content:""
    }

    /* Display client details */
    .crna-cmp-form .R {
        position: absolute;
        margin-left: 0.5em;
        margin-top: 20em;
    }

    .formio-component-key_clientDetails .card-title {
        color: black;
        font-size: 2rem;
        font-weight: 500;
    }

    .card-header {
        margin-bottom: 0;
        background-color: #38598A;
        border-bottom: 0;
    }


    .formio-component-key_clientDetails .border {
        border: none!important;
    }

    /* Hide navigation */
    .crna-cmp-form .menuR2 {
        display:none;
    }

    .crna-cmp-form .menu-Sticky {
        background-color: transparent;
        position: relative;
        top:0;
        margin-top:0px;
    }

    .crna-formio-h1 {
        padding: 0;
    }
    
    .crna-formio-h1>h2 {
        display: inline-block;
        width: calc(100% - 50px);
        text-align: right;
        margin: 0;
        padding-left:350px;
        padding-bottom:5px;
        font-size: 25px;
    }

    /* Add logo before the form title text */
    .crna-formio-h1:before {
        display: inline-block;
        width: 15px;
        content: url("/src/assets/images/justice.png");
    }

    .crna-formio-h1:after {
        display:block;
        width:100%;
        height:0px;
        border-bottom: 1px solid #ccc;
        content:""
    }

    .crna-cmp-form .mainContent {
        border: none!important;
        padding: 0;
        padding-top: 250px;
    }

    /* Hide 'Summary' text */
    .crna-cmp-form .mainContent>div>h1 {
        display: none;
    }

    .crna-cmp-form .mainContent .v-data-table-header {
        background-color: #545454;
    }

}