body {
	background-color: #F9FAFB;
}

.header {
	background-color: #036;
}

.header-section {
	padding: 10px 0;
}

.header-img {
	display: inline-block;
	padding: 0 14px;
}
.header img {
	padding: 12px 5px 12px 12px;
}

.headerNavContainer {
	width:100%;
	height:inherit!important;
	padding: 24px 10px;
	background-color: #38598a;
	border-top: 2px solid #fcba19;
}

.headerText {
	font-weight: 500;
	color: #fff;
	position:relative;
	left: 40px;
	top:10px;
	font-size: 1.7rem;

}
@media only screen and (max-width: 600px) {
	.headerText {
		display: block;
		font-size: 17px;
		left: 0px;
		top: 0px;
	}
}
.headerNav {
	font-weight: 400;
	color: #fff;
	font-size: 1rem;
	letter-spacing: 0.08em;
}

a.headerA:first-of-type {
	margin-left: 85px;
}
a.headerA {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

a.headerA:hover {
	text-decoration: underline;
}

.textShadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1) ; 
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 1) ; 
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 1) ; 
}

.clearBoth { clear:both; }

.main { 
	/* little formatting should be needed here */
}

div.menu-Sticky {
	background-color: #F9FAFB;	
}

.menuR1 {

}

.menuR2 {

}

div.R-Sticky {

}

.L {
	padding:0;
}
.R {
	padding:0;
}

.formio_anchor_class {
	
}
/* li {
	list-style: square outside url("ul.jpg");
	padding: 0px 0px 0px 20px;
	line-height: 1;
} */

