body {
	background-color: #F9FAFB;
}
.header { 
	background-image: url("header-bg.jpg");
	background-repeat: repeat-x; 	
	height:80px;
}
.main { 
	/* little formatting should be needed here */
}
.footer { 
	background-image: url("footer-bg.jpg");
	background-repeat: repeat-x; 	
	height:50px;
}

div.menu-Sticky {
	
	
}
div.R-Sticky {

}
.L {
	padding:0;
}
.R {
	padding:0;
}
