name: Build & Push Frontend Image to Artifactory
on:
  push:
    branches: [feature/vue-uplift-v2]
    paths:
      - 'cccm-frontend/**'
  workflow_dispatch:
env:
  IMAGE_NAME: ucmp-web

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Artifactory
        uses: docker/login-action@v1
        with:
          registry: artifacts.developer.gov.bc.ca
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Build Image
        run: |
          docker compose build frontend
          docker tag cccm-web artifacts.developer.gov.bc.ca/ced5-ucmp-web/${{env.IMAGE_NAME}}:dev
      
      - name: Docker Push to Artifactory
        run: |
          docker push artifacts.developer.gov.bc.ca/ced5-ucmp-web/${{env.IMAGE_NAME}}:dev

      - name: Vulnerability Scan Backend
        uses: Azure/container-scan@v0
        continue-on-error: true
        with:
          image-name: artifacts.developer.gov.bc.ca/ced5-ucmp-web/${{env.IMAGE_NAME}}:dev

      # Get SHORT_SHA for the version
      - name: Get short SHA
        id: short_sha
        run: |
          echo "::set-output name=SHORT_SHA::$(git rev-parse --short HEAD)"
          echo "Short SHA: $SHORT_SHA"
      
      - name: Set GitOps SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.GIT_OPS_SSH_KEY }}

      - name: Update Helm Values and Commit
        id: helm
        run: |
          # Clone the GitOps deployment configuration repository
          # Navigate to the directory containing your Helm values file for the environment develop -> DEV, test -> test and 
          
          # Commit and push the changes
          git config --global user.email "actions@github.com"
          git config --global user.name "UCMP GitHub Actions"
          git clone -b develop --single-branch git@github.com:bcgov-c/tenant-gitops-ed5723.git

          cd tenant-gitops-ed5723/charts

          # Update the Helm values file with the new image tag and version
          DATETIME=$(date +'%Y-%m-%d %H:%M:%S')  # Get current date and time

          sed -i "s/webtag: .*/webtag: dev # Image Updated on $DATETIME/" ../deploy/dev_values.yaml

          sed -i "s/webversion: .*/webversion: ${{ steps.short_sha.outputs.SHORT_SHA }} # Version Updated on $DATETIME/" ../deploy/dev_values.yaml
          
          git add .
          
          git add ../deploy/dev_values.yaml
          
          # Repackage Helm Chart      

          cd ucmp-gitops

          helm dependency build
          
          cd charts

          git add .
          
          git commit -m "Update Dev WEB image tag"
          git push origin develop  # Update the branch name as needed